<div style="margin:20px">
  <div style="padding-left: 3.5px"><%= inline_svg('sharpbg.svg', class: "map-spans") %></div>

  <div><%= inline_svg('smallmap.svg', class: "map-spans", size: "602 * 701")%></div>
</div>


