.hoodbg {
  font-family: Tahoma,Verdana,Segoe,sans-serif;
  position:absolute; z-index: 2;
}

.match-true{
  color: #81b1c1 !important;
    background-color: transparent;
  // -moz-box-shadow:    0px 20px 20px -15px #a8e1f4 inset;
  // -webkit-box-shadow: 0px 20px 20px -15px #a8e1f4 inset;
  // box-shadow:         0px 20px 20px -15px #a8e1f4 inset;
}

// .project_details span {
//     border-bottom: 1px solid #E3E3E3;
//     color: #454545;
//     float: left;
//     font-size: 14px;
//     font-weight: bold;
//     margin: 0;
//     padding: 5px 0;
//     width: 100%;
// }

.map-bg{
  width: 50%;
  height: 100%;
  position: absolute;
  background-color: transparent;
  opacity: 0.9;
  text-align: left;
}
.sky-bg{
  background-image: image-url('/img/users/skyline.svg'); 
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center bottom;
}

.map-paths{
  width: 50%;
  height: 100%;
  position: absolute;
  background-color: transparent;
  text-align: left;
  // padding-left: 3px;
  // padding-top: 5px;
}

.display-apts{
  height: 100%;
  width: 50%;
  right: 20px;
  position: absolute !important;
  overflow: scroll;
}

path:hover {
  stroke: #002868 !important;
  stroke-width:2px;
  stroke-linejoin: round;
  fill: #002868 !important;
  fill-opacity: 0.5;
  cursor: pointer;
}


.neighborhood-style{
    -moz-column-count: 3;
    -moz-column-gap: 10px;
    -webkit-column-count: 3;
    -webkit-column-gap: 10px;
    column-count: 3;
    column-gap: 10px;
    padding-left: 10%;
    overflow: auto;
}
.neighborhood-style label{
    width: 200px;
}

.bio-text {
 white-space: pre-line;
}

